.container{
  width: 95%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carousel{
    width:55%;
    margin-left: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
   
    /* gap: 60px; */
}
.backgroundImage{
    position: absolute;
    width: 85%;
    
}
.custom-indicator{
  width: 60px;
  height: 60px;
}